<!doctype html>
<html lang="en">


    <div class="card text-center">
        
        <h1>Contact</h1>
        <p>n° :  0187963212  </p>
        <p>email :  teamthp@gmail.com  </p>
    </div>

</html>
